/*Add your CSS rules*/

/*Some selectors you may need include are
a.skip, header, .nav_links, .container,
.intro, html, .text-block, etc.*/
a.skip {
    position: absolute;
    top: -40px;
}

a.skip:focus {
    top: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    animation: grow 1s;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

.nav_links a:focus,
.nav_links a:hover {
    color: #50C7C7;
    text-decoration: underline dotted;
}

.nav_links li {
    padding-bottom: 5px;
}

/* container grid */
.container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr 3fr 1fr;
    grid-row-gap: 15px;
}

.about-image,
.clients-image,
.method-image,
.contact-image {
    grid-column: 1 / -1;
    overflow: hidden;
}

.container img {
    max-height: 700px;
}

.intro {
    color: white;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 400px;
    grid-column: 1 / -1;
    grid-row: 1;
}

.intro p {
    padding: 100px 0;
}

.text-block {
    grid-column: 2;
    align-self: center;
}

.about,
.about-image {
    grid-row: 2;
}

.method,
.method-image {
    grid-row: 3;
}

.clients,
.clients-image {
    grid-row: 4;
}

.contact,
.contact-image {
    grid-row: 5;
}

footer {
    color: white;
}

/* keyframes */
@keyframes grow {
    0% {
        width: 0;
    }

    100% {
        width: 50px;
    }
}

@keyframes grow-move {
    0% {
        width: 50px;
    }

    50% {
        width: 150px;
        margin-left: 450px;
    }

    100% {
        width: 50px;
    }
}

/* media queries */
@media only screen and (min-width: 750px) {
    .nav_links {
        display: flex;
        flex-direction: row;
    }

    .nav_links li {
        padding: 10px;
    }

    .container {
        grid-template-rows: repeat(5, 400px);
        grid-template-columns: 50px auto 500px auto 50px;
    }

    .about,
    .clients,
    .method-image,
    .contact-image {
        grid-column: 3 / 5;
    }

    .about-image,
    .clients-image,
    .method,
    .contact {
        grid-column: 2 / 4;
    }
}

@media only screen and (min-width: 1125px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header img {
        animation: grow-move 1s;
    }

    .container {
        grid-template-columns: 15px 75px 1fr 25px 1fr 75px 15px;
        grid-template-rows: repeat(3, 400px);
    }

    .about-image {
        grid-column: 2 / 7;
        grid-row: 2;
    }

    .clients-image {
        grid-column: 2 / 7;
        grid-row: 3;
    }

    .method-image,
    .contact-image {
        display: none;
    }

    .about {
        grid-column: 3;
        grid-row: 2;
    }

    .method {
        grid-column: 5;
        grid-row: 2;
    }

    .clients {
        grid-column: 3;
        grid-row: 3;
    }

    .contact {
        grid-column: 5;
        grid-row: 3; 
    }
}